/* CUSTOM STYLESHEET */

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

/* ----------- GENERAL STYLING ------------- */
/* ----------- GENERAL STYLING ------------- */
/* ----------- GENERAL STYLING ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .02em;
    text-align: center;
    color: rgb(74, 110, 112);
}

/* -----------RESPONSIVE IMAGES ---------------- */
img {
    max-width: 100%;
}

/*------------- TYPOGRAPHY ---------------------- */
p {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(126, 166, 168);
    font-weight: 600;
    transition: all .5s ease-in-out;
}

a:hover {
    color: red;
}

/*------------- LISTS ---------------------- */
ul a {
    text-transform: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: block;
    text-align: left;
}

/*------------- LAYOUT ---------------------- */
section {
    padding: 5em 1em;
}