/* CUSTOM STYLESHEET */

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

/* ----------- GENERAL STYLING ------------- */
/* ----------- GENERAL STYLING ------------- */
/* ----------- GENERAL STYLING ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .02em;
    text-align: center;
    color: rgb(74, 110, 112);
}

/* -----------RESPONSIVE IMAGES ---------------- */
img {
    max-width: 100%;
}

/*------------- TYPOGRAPHY ---------------------- */
p {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 5em;
    letter-spacing: 1em;
}
a {
    text-decoration: none;
    color: rgb(126, 166, 168);
    font-weight: 600;
    transition: all .5s ease-in-out;
}

a:hover {
    color: red;
}

/*------------- LISTS ---------------------- */
ul a {
    text-transform: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: block;
    text-align: left;
}

/*------------- LAYOUT ---------------------- */
section {
    padding: 5em 1em;
}
/*
.wrap {
    max-width: 500em;
    width: 100%;
    margin: 0 auto;
}
*/
.grid-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}


/*------------- DESIGN ---------------------- */
/*------------- DESIGN ---------------------- */
/*------------- DESIGN ---------------------- */

/* ...................................
HEADER 
.................................... */

#splash {
    background: url('../images/home_header_bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    /* If there is a background-image */
    height: 20em;
    margin-bottom: 10em;
    display: block;
}
h1 a {
    color: black;
    margin: 50%;
    display: inline-block;
    letter-spacing: .75em;
}
header h3 {
    color: black;
    font-size: 2em;
    letter-spacing: .5em;
}

