/* Custom Stylesheet */

@viewport {
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport {
    width: device-width;
}


/* ------------- GENERAL STYLING ----------------- */
/*
* {
    margin: 0;
    padding: 0;
}
*/

body {
    font-family: 'Raleway', sans-serif;
    color: rgb(74, 110, 112); 
}

a {
    color: inherit;
    text-decoration: none;
}

/* ---------------- HEADER ------------------- */
/* Style the navbar */
.mobile-menu {
    display:block;
    width:100%;
    background: white;
    line-height: 1em;
    font-weight: 400;
    width:100%;
    text-align:center;
    position: relative;
    margin:0 auto;
  }
  /*Strip the ul of padding and list styling*/
  .mobile-menu ul {
    list-style-type:none;
    margin: 0 auto;
    padding-left:0;
    text-align:center;
    width:100%;
    position: absolute;
    background: white;
  }
  
  /*Create a horizontal list with spacing*/
  .mobile-menu li {
    display:inline-block;
    text-align: center;
  }
  
  /*Style for menu links*/
  .mobile-menu li a {
    display:inline-block;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: rgb(126, 166, 168);
    text-transform:uppercase;
    background: rgba(255, 255, 255, .5);
    text-decoration: none;
    padding: 1.5em 5em;  
  -webkit-transition-delay: all 1s ease-in-out .5s;
  -moz-transition-delay: all 1s ease-in-out .5s;
  -ms-transition-delay: all 1s ease-in-out .5s;
  -o-transition-delay: all 1s ease-in-out .5s;
  transition-delay: all 1s ease-in-out .5s;
  }
  



/*Make dropdown links vertical*/
.mobile-menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
	width: auto;
	min-width: 5em;
	padding: 0 2em;
}


/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
    text-decoration: none;
    color: rgb(126, 166, 168);
    background: rgba(255, 255, 255, .25);
    text-align: center;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* --------- ORIGINAL (MONUMENT 2) HEADER NAVBAR -------
#navbar {
    display: inline-block;
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    width: 100%;
    height: 3em;
    background-color: rgb(250, 250, 250, 1);
    overflow: hidden;
    color: rgb(126, 166, 168);
    
    --FLEX NAV BAR 
    display: flex;
    justify-content: space-around;
    position: sticky;
    position: -webkit-sticky;
    --

    position: fixed;
    padding: .75em;
    top: 0;
    left: 0;
    cursor: pointer;
    text-align: center;
}

.deskNav a {
    margin: 0 6em;
}
*/


/* Header styling */
.raleway, .comment {
    color: rgb(74, 110, 112);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.lines, .mobile-header {
    display: none;
}

h1 {
    background: url('../images/blog_header_bg.jpg') no-repeat top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2em;
    max-width: 100%;
    height: 10em;
    margin-top: 25em;
} 
/* MAIN */
section.flex {
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    direction: row;
    margin: 1em 2em;
}
img {
    height: auto;
    max-width: 100%;
}
h2 {
    margin: 1em auto;
}
.leftArticle {
    margin: 0em 2.5em;
}
.blog {
    width: 100%;
    height: auto;
}
section p {
    font-family: 'Lato', sans-serif;
}

/* ASIDE SECTION */

aside {
    padding-top: 3em;
    width: 100%;
    height: auto;
    margin: 0em 5em 0em 2.5em;
}
/*
.sidebar img {
    width: auto;
}*/
/*
.about-us {
    padding-top: 45px;
}*/
ul {
    color: rgb(74, 110, 112);
    margin: 0em -1.25em;
}
ul a {  
    color: rgb(126, 166, 168);
    /* margin-bottom: 5px;*/
    font-weight: bold;
    height: 5em;
    list-style: none;
    justify: auto;
}


/* LEAVE A COMMENT (SECTION) */
/* FORM CONTAINER */

.userForm {
    margin: 5% 10%; 
}
.userForm h3 {
    text-align: center;
    color: rgb(74, 110, 112);
}
/* FORM STYLES */
input[name="name"] {
    grid-area: name;
}

input[name="emailUser"] {
    grid-area: emailUser;
}

textarea {
    grid-area: comment;
    height: 10em;
    resize: none;
}

input[name="submit"] {
    grid-area: submit;
}

.formGrid {
    display: grid;
    width: auto;
    grid-template-areas:
        'name emailUser'
        'comment comment'
        'submit submit';
    grid-gap: 1em;
    padding: 3em;
    display: -ms-grid; /* IE 10 */
}

.formGrid input, .formGrid textarea {
    border: rgb(74, 110, 112) .25em solid;
    font-family: 'Lato', sans-serif;
    color: slategrey;
    font-size: .75em;
    padding: 1em;
}
.formGrid::placeholder {
    font-weight: 900;
}

/* FOOTER */
footer {
    margin-top: 3em;
    text-align: center;
    color:  rgb(74, 110, 112);
    background: rgb(198, 240, 242);
    font-family: 'Raleway', sans-serif;
}
.icons {
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    height: 4em;
    font-size: 1.5em;
}
i {
    margin: 0em 1em;
}
footer p {
    padding: 1.5em;
    border-top: .15em solid rgb(74, 110, 112);
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

/* FOOTER FORM */
br {
    display: none;
}
input[name="emailAddress"], input[name="KIT"] {
    text-align: center;
    padding: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: .75em;
    color: slategray;
    margin: 0em .5em 2.5em;
}
input[name="emailAddress"] {
    border: none;
    width: 30em;
}
input[name="KIT"] {
    width: 15em;
    color: slategray;
    border: .25em solid slategray;
    background: transparent;
}
input[name="KIT"]:hover {
    animation-delay: .05ms;
    background: slategray;
    color: rgb(198, 240, 242);
    cursor: pointer;
}
a:hover, li a:hover {
    color: red;
}



/* -----------------------------------------------------
--------------------------------------------------------
--------------------------------------------------------
    ## DEVICE = Tablets / iPads
    ## SCREEN = Below 775px
-----------------------------------------------------
--------------------------------------------------------
--------------------------------------------------------
*/
@media screen and (max-width : 775px) {
/* RESPONSIVE MOBILE MENU WITH CSS */
.mobile-menu, .lines, .mobile-header {
    display: block;
}
.lines {
color: white;
background: transparent;
float: left;
margin: 0;
padding: .5em;
font-size: 1.5em;
}

/*Make dropdown links appear inline*/
.mobile-menu ul {
      position: static;
      display: none;
}
/*Create vertical spacing*/
.mobile-menu li {
    margin-bottom: 1px;
}
/*Make all menu links full width*/
.mobile-menu ul li, .mobile-menu li a {
    width: 100%;
}
/*Display 'show menu' link*/
.mobile-menu .show-menu {
    display: block;
}
.desk-header {
    display: none;
}
h1 {
    background: url('../images/blog_header_bg.jpg') no-repeat top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: .5em;
    width: 100%;
    height: auto;
    display: block;
    font-size: 2em;
} 
/* ------ MAIN ---------*/
section.flex {
    display: block;
    margin: 1em 2em;
    max-width: 100%;
    height: auto;
    padding:.5em;
}
ul a {
    margin: 0 1em;
}
.aside-about {
    display: block;
    margin-right: 3em;
}

/* -------- USER Form -------- */

form {
    display: grid;
    display: -ms-grid;
    grid-template-areas: 
        'name'
        'emailUser'
        'comment'
        'submit';
}
.userForm {
    padding: 1em 10%;
}
input[name="emailAddress"] {
    grid-area: emailAddress;
}
input[name="KIT"] {
    grid-area: emailUser;
}

/* ------------ FOOTER ------------- */

footer form {
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
}
input[name="emailAddress"] {
    border: none;
    width: 20em;
}
br {
    display: block;
}
input[name="KIT"] {
    width: 10em;
    color: slategray;
    border: .25em solid slategray;
    background: transparent;

}

/* -----------------------------------------------------
--------------------------------------------------------
--------------------------------------------------------
    ## DEVICE = mobile phones /iPhones/Androids etc.
    ## SCREEN = Below 560px
-----------------------------------------------------
--------------------------------------------------------
--------------------------------------------------------
*/
@media screen and (max-width : 560px) {
    /* RESPONSIVE MOBILE MENU WITH CSS */
    .mobile-menu, .lines, .mobile-header {
        display: block;
    }
    .lines {
    color: white;
    background: transparent;
    float: left;
    margin: 0;
    padding: .5em;
    font-size: 1.5em;
    }

    /*Make dropdown links appear inline*/
    .mobile-menu ul {
          position: static;
          display: none;
    }
    /*Create vertical spacing*/
    .mobile-menu li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .mobile-menu ul li, .mobile-menu li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .mobile-menu .show-menu {
        display: block;
    }
    .desk-header {
        display: none;
    }
    h1 {
        background: url('../images/blog_header_bg.jpg') no-repeat top;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Raleway', sans-serif;
        color: white;
        text-align: center;
        font-weight: bold;
        letter-spacing: .5em;
        width: 100%;
        height: auto;
        display: block;
        font-size: 2em;
    } 
    /* ------ MAIN ---------*/
    section.flex {
        display: block;
        max-width: 100%;
        height: auto;
    }
    ul a {
        margin: 0 1em;
    }
    .aside-about {
        display: block;
        margin-right: 3em;
    }

    /* ------------ USER FORM ----------- */
    form {
        display: grid;
        grid-template-areas: 
            'name'
            'emailUser'
            'comment'
            'submit';
    }
    .userForm {
        padding: 1em 10%;
    }

    /* ------------ FOOTER ------------- */
    input[name="emailAddress"] {
        grid-area: emailAddress;
    }
    input[name="KIT"] {
        grid-area: emailUser;
    }
    footer form {
        display: grid;
        grid-template-areas:
            'emailAddress'
            'KIT';
        text-align: center;
    }
    br {
        display: block;
    }
    .submitEmail {
        width: 100%;
    }

}


/* 
    ## DEVICE = Mobile phones (iphones, etc.)
    ## SCREEN = Below 560px (landscape)

*/
@media (max-width: 560px) and (orientation: landscape) {

}

/* 
   ## DEVICE = Mobile phones (iphones, etc.)
    ## SCREEN = Below 560px 

*/

/* HAMBURGER CODE: <i class="fas fa-bars"></i> */